<!--div class="container-fluid section1 px-0 mx-0"-->
	<div class="row section section3 section__light px-0">
		<div class="col px-0 mx-0">
			<div class="content d-flex flex-column justify-content-center px-4">
				<div class="wysiwyg mx-auto py-4">
					<h2 class="h2 lax" data-lax-translate-x="800 25, 500 0" data-lax-opacity="800 0, 500 1"  data-lax-anchor="self">Why Choose <b>Kushinda</b></h2>
					<hr class="ghost" />
					<div class="anim lax" data-lax-translate-x="900 25, 500 0" data-lax-opacity="800 0, 500 1"  data-lax-anchor="self">
						<ul>
							<li>Understanding your business is our business</li>
							<li>Our team of experts do all the hard work</li>
							<li>We’ve developed our own patented tech; powerful, flexible and even agnostic to other tools</li>
							<li>We believe in transparency and trust – we’ll share all our reporting with you</li>
							<li>Honesty, Integrity & Efficiency – With our well-honed technology and skilled managers, we don’t waste your time or your budget. Every £ counts!</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cover"> </div>
			<div class="cover1"> </div>
			<div
				class="svg lax"
				data-lax-translate-x="800 -100, 500 0"
				data-lax-opacity="800 0, 500 1"
				data-lax-anchor="self">
				{{- partial "svg/section3.svg" . -}}
			</div>
		</div>
	</div>
<!--/div-->