<div class="container-fluid section section__light section4 px-0 mx-0">
	<div class="container">
		<div class="row px-0">
			<div class="col-12 pb-3">
				<h2 class="h2">What Our Clients Say</h2>
			</div>
			<div class="col">
				<img class="img-fluid" alt="img" src="https://avataaars.io/?avatarStyle=Circle&amp;topType=ShortHairShaggyMullet&amp;accessoriesType=Round&amp;hairColor=Auburn&amp;facialHairType=MoustacheFancy&amp;facialHairColor=Brown&amp;clotheType=CollarSweater&amp;clotheColor=PastelBlue&amp;eyeType=Default&amp;eyebrowType=AngryNatural&amp;mouthType=Tongue&amp;skinColor=Yellow" />
				<blockquote class="py-4">
					<p>"It is refreshing to work with a company that truly believes in the power of data.</p>
					<p>Combine this with a team that is highly knowledgeable and passionate about their work and you end up with an agency that is a joy to work with. I look forward to growing our campaign with Kushinda and would recommend others to give them a try as well!"</p>
				</blockquote>
			</div>
			<div class="col">
				<img class="img-fluid" alt="img" src="https://avataaars.io/?avatarStyle=Circle&amp;topType=ShortHairShaggyMullet&amp;accessoriesType=Round&amp;hairColor=Auburn&amp;facialHairType=MoustacheFancy&amp;facialHairColor=Brown&amp;clotheType=CollarSweater&amp;clotheColor=PastelBlue&amp;eyeType=Default&amp;eyebrowType=AngryNatural&amp;mouthType=Tongue&amp;skinColor=Yellow" />
				<blockquote class="py-4">
					<!--p "It is refreshing to work with a company that truly believes in the power of data.-->
					<p>"Combine this with a team that is highly knowledgeable and passionate about their work and you end up with an agency that is a joy to work with. I look forward to growing our campaign with Kushinda and would recommend others to give them a try as well!"</p>
				</blockquote>
			</div>
			<div class="col">
				<img class="img-fluid" alt="img" src="https://avataaars.io/?avatarStyle=Circle&amp;topType=ShortHairShaggyMullet&amp;accessoriesType=Round&amp;hairColor=Auburn&amp;facialHairType=MoustacheFancy&amp;facialHairColor=Brown&amp;clotheType=CollarSweater&amp;clotheColor=PastelBlue&amp;eyeType=Default&amp;eyebrowType=AngryNatural&amp;mouthType=Tongue&amp;skinColor=Yellow" />
				<blockquote class="py-4">
					<p>"It is refreshing to work with a company that truly believes in the power of data.</p>
					<p>Combine this with a team that is highly knowledgeable and passionate about their work and you end up with an agency that is a joy to work with. I look forward to growing our campaign with Kushinda and would recommend others to give them a try as well!"</p>
				</blockquote>
			</div>
			<div class="col">
				<img class="img-fluid" alt="img" src="https://avataaars.io/?avatarStyle=Circle&amp;topType=ShortHairShaggyMullet&amp;accessoriesType=Round&amp;hairColor=Auburn&amp;facialHairType=MoustacheFancy&amp;facialHairColor=Brown&amp;clotheType=CollarSweater&amp;clotheColor=PastelBlue&amp;eyeType=Default&amp;eyebrowType=AngryNatural&amp;mouthType=Tongue&amp;skinColor=Yellow" />
				<blockquote class="py-4">
					<p>"It is refreshing to work with a company that truly believes in the power of data.</p>
					<p>Combine this with a team that is highly knowledgeable and passionate about their work and you end up with an agency that is a joy to work with. I look forward to growing our campaign with Kushinda and would recommend others to give them a try as well!"</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>