$sec2-xs-content-width: 100;
$sec2-xs-content-height: 35rem;
$sec2-xs-cover-width: 120 - $sec2-xs-content-width;

$sec2-xl-content-width: 55;
$sec2-xl-content-height: 35rem;
$sec2-xl-cover-width: 100 - $sec2-xl-content-width;

@import "layout";
@import "s-xs";
@import "s-lg";