$sec4-xl-content-width: 55;
$sec4-xl-content-height: 35rem;
$sec4-xl-cover-width: 100 - $sec3-xl-content-width;

$sec4-xs-content-width: 100;
$sec4-xs-content-height: 45rem;
$sec4-xs-cover-width: 120 - $sec3-xs-content-width;

@import "layout";
@import "s-xs";
@import "s-lg";